* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --text: #091514;
  --background: #ebe0f1;
  --start: #87c2b1;
  --lap: #f7b32b;
  --stop: #df7e83;
  --reset: #4ea8f1;
}

body {
  font-family: Monserrat, Arial, sans-sérif;
  font-size: 16px;
  color: var(--text);
  background-color: var(--background);
}
header {
  display: flex;
  align-items: center;
}
h1 {
  font-size: 1.1rem;
}
button {
  padding: 0.6rem 0.9rem;
  font-size: 1.2rem;
  min-width: 5rem;
  border-radius: 5px;
  box-shadow: 2px 2px 7px 0px rgba(116, 90, 130, 0.2);
}
footer {
  background-color: var(--background);
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  gap: 1.4rem;
  align-items: center;
  padding: 2rem;
}
a {
  text-decoration: none;
  color: var(--text);
}
/* Logo */
.stopwatch {
  width: 40px;
  height: 40px;
  margin: 1rem;
}
.timer {
  padding: 12vw 10vw;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
/* Time display */
#time {
  font-size: 18vw;
  display: flex;
  justify-content: center;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.start-stop {
  background-color: var(--start);
  border: none;
}
.split {
  background-color: var(--lap);
  border: none;
}
.reset {
  background-color: var(--reset);
  border: none;
}
.lap-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.lap-item {
  list-style-type: none;
  font-size: 1.4rem;
}
/* Button footer */
.code {
  background-color: #c798e0;
  border: none;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 1.5rem;
  }
  .stopwatch {
    width: 60px;
    height: 60px;
  }
  #time {
    font-size: 10rem;
  }
  .buttons {
    gap: 2rem;
  }
  .timer {
    padding: 4.5rem 2rem;
    gap: 2.5rem;
  }
}
